<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://code.alibabatech.com/schema/dubbo	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	 default-lazy-init="true">    
	 <!-- 子系统暴露服务接口 -->
<!--     <dubbo:service interface="com.fruit.growup.api.GrowUpPlanApiService" -->
<!--         version="1.0.0" ref="growUpPlanApiService" registry="zookeeperService"/> -->
<!--     <bean id="growUpPlanApiService" class="com.fruit.growup.service.api.GrowUpPlanApiServiceImpl"/> -->

</beans>