<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd">
	
	
	<!-- 测试队列-->
	<rabbit:queue id="QUEUE_TEST" name="QUEUE_TEST">
		<rabbit:queue-arguments>
			<entry key="x-ha-policy" value="all" />
		</rabbit:queue-arguments>
	</rabbit:queue>
	<!--1. direct exchange 不需要指定exchange, 用rabbitmq默认exchange "" -->
	
	
	<!--2. fanout-exchange 消息会发送到该交换机绑定的所有队列上  路由麦的模式
	   这种模式不需要RouteKey
	  这种模式需要提前将Exchange于Queue进行绑定,一个Exchange可以绑定多个Queue,一个Queue可以同多个Exchange进行绑定.
	 -->
<!-- 	<rabbit:fanout-exchange name="FANOUT_QUEUE_TEST_EXCHANGE"> -->
<!-- 		<rabbit:bindings> -->
<!-- 			<rabbit:binding queue="QUEUE_TEST"/> -->
<!-- 		</rabbit:bindings> -->
<!-- 	</rabbit:fanout-exchange> -->
    <!-- 3. TOPIC exchange
    	“#”表示0个或若干个关键字，“*”表示一个关键字。
    	如“log.*”能与“log.warn”匹配，无法与“log.warn.timeout”匹配；
    	但是“log.#”能与上述两者匹配。 -->
    <rabbit:topic-exchange name="TOPIC_QUEUE_TEST_EXCHANGE">
       <rabbit:bindings>
           <rabbit:binding pattern="#.TEST.#" queue="QUEUE_TEST"></rabbit:binding>
       </rabbit:bindings>
    </rabbit:topic-exchange>

	<!-- #################################################################### -->
	<!-- # RabbitMQ 消息监听容器（消费者） -->
	<!-- #requeue-rejected 消息重试策略 可以参考队列重试 -->
	<!-- #################################################################### -->	
	<rabbit:listener-container connection-factory="rabbitConnectionFactory" message-converter="rabbitMessageConverter" channel-transacted="false" error-handler="logAndPropagateErrorHandler" requeue-rejected="false">
		<rabbit:listener queue-names="QUEUE_TEST"  ref="testRabbitMQConsumer" method="onMessage" />
	</rabbit:listener-container>
		
</beans>